@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans", sans-serif;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  color: lightgrey;
  margin-bottom: 2rem;
}
.heading span{
    height:.4rem;
    width:10rem;
    background-color: lightgray;
}
.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 10rem;
}
.mainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

.mainContainer .cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 20%;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

.mainContainer .cardContainer img {
  width: 10rem;
}
.mainContainer .cardContainer .title {
  font-weight: 800;
  color: rgb(103, 101, 101);
}
.mainContainer .cardContainer .stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: gold;
}
.mainContainer .cardContainer .prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.mainContainer .cardContainer .prices p {
  font-size: 0.8rem;
}
.mainContainer .cardContainer .prices .lightPrice {
  font-size: 0.8rem;
  color: lightgray;
}
.mainContainer .cardContainer button {
  font-size: 0.8rem;
  border: 1.5px solid lightgray;
  padding: 0.5rem 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: rgb(103, 101, 101);
}
.mainContainer .cardContainer .love{
    position: absolute;
    top: .5rem;
    right: 1rem;
    color: rgb(254, 62, 62);
    font-size: 2.5rem;
}
